#page1{
    font-size: large;
    background-color: #0e41b8;
    border-radius: 0px; 
}
#page2{
    font-size: large;
    border-radius: 0px;
    background-color: lightgray;
    color: #0e41b8; 
}
#page3{
    font-size: large;
    border-radius: 0px;
    background-color: lightgray;
    color: #0e41b8;
}
#page4{
    font-size: large;
    border-radius: 0px;
    background-color: lightgray;
    color: #0e41b8;
}

#main-nav>a:hover{
    box-shadow: 0px 1px 0px 0px #0e41b8;
}
#min-div{
    margin-left: 100px;
}
#main-div{
    margin-left: 110px;
}

#main-div > a{
      margin: 3px;
}
#main-div>a:hover{
    opacity: 0.9;
}
#footer{
      background: #ffbb00;
      padding: 25px;
      
}
#me{
      position: absolute;
      left: 0%;
}
