#index{
    font-size: large;
    background-color: purple;
    border-radius: 0px; 
}
#page2{
    font-size: large;
    border-radius: 0px;
    background-color: #e6d1f2;
    color: purple; 
}
#page3{
    font-size: large;
    border-radius: 0px;
    background-color: #e6d1f2;
    color: purple;
}
#page4{
    font-size: large;
    border-radius: 0px;
    background-color: #e6d1f2;
    color: purple;
}
  #main-nav>a:hover{
    box-shadow: 0px 1px 0px 0px purple;
}
h1{
    text-align: right;
    word-spacing: -15px;

}
.rotate{
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    width: 10%;
    position: absolute;
    right: 10%;
    top: 70%;
    color: purple;
    
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.9;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }
  #main-div{
      position: absolute;
      left: 35%;
  }
  #main-div > a{
      text-decoration: none;
      color: black;
  }
  #gmail{
      margin: 20px;
  }

